body{
	background-image: url('../img/m.jpg');
	background-image: url('../img/m.jpg')
	background-size: cover;
}

section{
	margin-left: 30%;
	margin-top:10%;
	background-color: rgb(135,265,215,0.9);
	width: 40%;
	text-align: center;
	border-radius: 10%;
	height: 150%;
}

input{
	border-style: outset solid;
	border-radius: 10%;
	box-shadow: 0px 0px 2px 2px;
	padding: 5px;
	margin-top: 10px;
}

#Entrada{
	text-align: center;
	cursor: pointer;
}
h5{
	color: #fb3bd5;

}